<?
# $Id: config.inc.template,v 1.3 2005-07-10 17:30:35 mitch Exp $
#
# config template for the webcomic PHP browser
# copy to config.inc and edit to your needs

# Where are the files stored locally?
$localpath="/home/mitch/pub/MIRROR";

# How can the files accessed by http?
$netpath="/MIRROR";

# How can the main PHP file be accessed by http?
$myhref="$netpath/php/index.php";

# Where is the comic cache located?
$cachefile="$localpath/php/comic.cache";
?>
