<?
# $Id: config.inc.template,v 1.2 2005-03-06 12:04:14 mitch Exp $
#
# config template for the webcomic PHP browser
# copy to config.inc and edit to your needs

# Where are the files stored locally?
$localpath="/home/mitch/pub/MIRROR";

# How can the files accessed by http?
$netpath="/MIRROR";

# How can this very file be accessed by http?
$myhref="$netpath/php/index.php";

# Where is the comic cache located?
$cachefile="$localpath/php/comic.cache";
?>
